################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tanks/bin/Debug/Tanks.vshost.exe.manifest
